@model List<ActividadAutonoma.Models.Pokemon>

<div class="container-fluid text-center">

    <h1>Pokedex</h1>

    <div class="d-flex flex-wrap justify-content-center gap-5">

        @foreach (var pokemon in Model)
        {
            <div class="card shadow" style="width: 18rem;">

                <img src="@pokemon.Image" class="card-img-top" alt="@pokemon.Name">

                <div class="card-body">
                    <h5 class="card-title text-capitalize">@pokemon.Name</h5>

                    <p class="card-text">
                        Pokémon de la Pokédex
                    </p>

                    <a asp-controller="Pokemon"
                           asp-action="Details"
                           asp-route-nombre="@pokemon.Name"
                           class="btn btn-primary">
                        Ver Detalles
                    </a>

                </div>
            </div>
        }

    </div>

</div>