@model List<ActividadAutonoma.Models.Pokemon>

<div class="container-fluid text-center">

    <h1>Pokedex</h1>
    <div class="d-flex flex-wrap justify-content-center gap-5">
        @foreach(var pokemon in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="@pokemon.Url" class="card-img-top" alt="@pokemon.Name">
                <div class="card-body">
                    <h5 class="card-title">@pokemon.Name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        }
    </div>

</div>